@use "colores";

.formulario {
    max-width: 500px;
    margin: 50px auto;
    background: colores.$bg-white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    label {
        margin-bottom: 5px;
    }

    input, textarea, select {
        width: 95%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    textarea {
        height: 100px;
    }

    input[type="submit"] {
        background: colores.$bg-blue;
        &:hover {
            background: colores.$bg-blue-hover;
        }
    }
}
