@use "colores";

// Definimos una variable para el tamaño del cubo y así cambiarlo fácil
$cube-size: 200px;
$cube-depth: 100px;

main {
  display: grid;
  position: relative;
  grid-template-areas: 
    "lateral  seccion1"
    "lateral  seccion2"
    "seccion3 seccion3"
    "seccion4 seccion4";
  grid-template-columns: 2fr 8fr;
  gap: 30px;
  margin: auto;
  width: 90%;
  perspective: 1000px;
  z-index: -10;

  // Asignación de áreas y colores por posición
  > *:nth-child(2) { grid-area: seccion1; background-color: colores.$bg-green; }
  > *:nth-child(3) { grid-area: seccion2; background-color: colores.$bg-yellow; }
  > *:nth-child(4) { grid-area: seccion3; }
  > *:nth-child(5) { grid-area: seccion4; background-color: colores.$bg-orange; }

  .seccion {
    display: flex;
    justify-content: center;
    padding: 30px 10%;
    border-radius: 20px;
    box-shadow: 2px 5px 10px #aaa;

    img {
      width: $cube-size;
      height: fit-content;
      margin-left: 50px;
    }
  }

  .menu-lateral {
    grid-area: lateral;
    background-color: colores.$bg-white;
    padding: 15px 25px;
    border-radius: 10px;
  }

  // --- LÓGICA DEL CUBO 3D ---
  .cubo {
    width: $cube-size;
    height: $cube-size;
    margin: 50px 0;
    transform-style: preserve-3d;
    animation: rotate 20s infinite linear;

    .pagina {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }

    #l1 { background-color: colores.$bg-red; transform: translateZ($cube-depth); }
    #l2 { background-color: colores.$bg-blue; transform: rotateY(180deg) translateZ($cube-depth) }
    #l3 { background-color: colores.$bg-green; transform: rotateY(90deg) translateZ($cube-depth) }
    #l4 { background-color: colores.$bg-white; transform: rotateY(-90deg) translateZ($cube-depth) }
    #l5 { background-color: colores.$bg-yellow; transform: rotateX(90deg) translateZ($cube-depth) }
    #l6 { background-color: colores.$bg-orange; transform: rotateX(-90deg) translateZ($cube-depth) }
  }
}

@keyframes rotate {
  0%   { transform: rotateX(0deg)   rotateY(0deg); }
  25%  { transform: rotateX(90deg)  rotateY(90deg); }
  50%  { transform: rotateX(180deg) rotateY(180deg); }
  75%  { transform: rotateX(270deg) rotateY(270deg); }
  100% { transform: rotateX(360deg) rotateY(360deg); }
}