:root {
    --bg-white: rgb(230, 230, 230);
    --bg-yellow: rgb(220, 220, 2);
    --bg-red: rgb(254, 40, 40);
    --bg-green: rgb(32, 196, 32);
    --bg-blue: rgb(78, 119, 196);
    --bg-blue-hover: rgb(72, 114, 193);
    --bg-orange: orange;
}